body {
    background: white;
    display: flex;
    font-family: Arial;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}

h1 { color: #f720d7; }

.converter {
    background: white;
    border-radius: 15px;
    animation: fadeIn 0.5s ease-out;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    width: 350px;
    box-shadow: 0 10px 20px rgba(178, 10, 239, 0.2);
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #19cfe3;
}
button {
    background: #1739d0;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}


button:hover { background: #f0420d; }

.Btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
